@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="">
        <p>O Naruto pode ser um pouco duro às vezes</br>
        Talvez você não saiba disso</br>
        Mas o Naruto também</br>
        Cresceu sem pai</br>
        </br>
        Na verdade, ele nunca conheceu nenhum de seus pais</br>
        E nunca teve nenhum amigo em nossa aldeia</br>
        Mesmo assim, eu nunca vi ele chorar</br>
        Ficar zangado ou se dar por vencido</br>
        </br>
        Ele está sempre disposto a melhorar</br>
        Ele quer ser respeitado, é o sonho dele</br>
        E o Naruto daria a vida por isso sem hesitar</br>
        Meu palpite é que ele se cansou de chorar</br>
        E decidiu fazer alguma coisa a respeito</br>
        </p>
    </div>
    <div>
        <img src=""/>
    </div>
    <div class="">
        <p>Never gonna give you up</br>
        Never gonna let you down</br>
        Never gonna run around and desert you</br>
        Never gonna make you cry</br>
        Never gonna say goodbye</br>
        Never gonna tell a lie and hurt you</br>
        </br>
        Never gonna give you up</br>
        Never gonna let you down</br>
        Never gonna run around and desert you</br>
        Never gonna make you cry</br>
        Never gonna say goodbye</br>
        Never gonna tell a lie and hurt you</br>
        </p>
    </div>
</div>
